#contact-container {
    margin-top: 35px;
    margin-bottom: 0;
}

.informs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-inline: auto;
    padding-inline: 30px;
}

.informs-box {
    background-color:#c7ced1;
    padding: 30px;
    flex: 1;
    min-width: 290px;
    margin-top: 5px;
    margin-bottom: 0;
    box-shadow: 1px 1px 7px 1px var(--font-color-footer2);
    transition: ease-in-out 0.2s;
}

.informs_title {
    font-size: 1.37rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--bg-color-darker);
    font-weight: 600;
}

.informs_title i {
    margin-bottom: 5px;
    color: var(--bg-color-darker);
}

.informs-box:hover .informs_title {
    color: var(--bg-color-dark);
}

.informs-box:hover {
    transform: scale(1.02);
}

.informs-box:hover i {
    /* color: #772077; */
    /* background: linear-gradient(to right, #ff00ff, #862686, 
    #43439c, #00ffff); */
    background: var(--gradient-default);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.informs_description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem; 
    margin-top: 20px; 
    line-height: 16px;
    color: var(--bg-color-dark);
}

.informs_description p {
    padding-bottom: 2px;
}

.opening_hours {
    border-bottom: 1px solid #6f82adbb; 
    display: flex; 
    justify-content: space-between; 
    font-size: 1rem; 
    margin: 0;
}

#contacts .informs_description {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

#contacts .social-media {
    flex-direction: column;
    gap: 18px;
    flex-wrap: wrap;
    margin: 0;
}

#contacts .social-media a {
    display: flex;
    gap: 5px;
    align-items: center;
    /* color: #772077 !important; */
    color: var(--bg-color-dark);
    transition: ease-in-out 0.2s;
    padding-top: 10px;
    border-bottom: 1px solid #6f82adbb;
}

/* #contacts .social-media div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    color: var(--target-color);
    font-size: 20px;display: flex;
    align-items: center;
    font-size: 16px;
    transition: ease-in-out 0.2s;
} */

/* #contacts .social-media i {
    background-image: linear-gradient(to right, #ff00ff, #43439c, #252525);
} */

/* #contacts .social-media a:hover div {
    background: var(--default-font-color);
    border-color: var(--default-font-color);
}  */

#contacts .social-media a:hover i {
    /* background: linear-gradient(to right, #ff00ff, #862686, 
    #43439c, #00ffff); */
    background: var(--gradient-default);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#contacts .social-media a:hover {
    background-image: var(--gradient-default);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.05);
}

.section-location {
    max-width: 100%;
    margin-top: 35px;
}

#location {
    width: calc(100% - 60px);
    margin-inline: auto;
}



