footer {
    width: 100%;
    background-color: var(--bg-footer);
    line-height: 20px;
}

#footer-container {
    max-width: 1150px;
    margin-inline: auto;
}

#footer-area {
    display: flex;
    gap: 30px;
    padding-block: 40px;
    flex-wrap: wrap;
    color: var(--font-color-footer);
}

#about-company {
    min-width: 360px;
}

#about-company .informations-area, .text-area  {
    color: var(--font-color-footer2);
}

.footer-areaitem {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.footer-areaitem .title-footer {
    font-size: 1.37rem;
    line-height: normal;
}

.footer-areaitem .bar {
    width: 60px;
    height: 3px;
    background-color: #3b5870;
    /* background: linear-gradient(to right, #ff00ff, #862686, 
    #43439c, #00ffff); */
    background: var(--gradient-default-hover);
    margin-top: 4px;
    margin-bottom: 25px;
}

.informations-area {
    display: flex;
    gap: 15px;
    font-size: 0.87rem;
}

.text-area {
    font-size: 0.87rem;
}

#company-name {
    margin-top: 18px;
}

.adress-contact {
    justify-content: space-between;
    gap: 20px;
}

.adress-contact #contacts {
    text-align: right;
}

.adress-contact #contacts a {
    color: var(--font-color-footer) !important;
}

#footer-area .social-media {
    display: flex;
    gap: 5px;
    margin-top: 30px;
}

#footer-area .social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #000;
    font-size: 1.25rem;
}


#footer-area .social-media i {
    color: var(--bg-color-darker);
    /* background-image: linear-gradient(to right, #ff00ff, #00ffff); */
    background-image: var(--gradient-default-hover);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: ease-in-out 0.2s;
}

#footer-area .social-media a:hover i {
    /* background-image: linear-gradient(to right, #ff00ff, #43439c); */
    background-image: var(--gradient-default);
    background-clip: text;
    -webkit-background-clip: text;
}

#site-map {
    min-height: 280px;
    align-items: center;
    border-left: 1px solid var(--border-footer);
    border-right: 1px solid var(--border-footer);
}

#site-map .bar {
    margin-left: -100px;
}

#site-map ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#site-map a {
    /* color: #862686; */
    background-image: var(--gradient-default);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.25rem;
    transition: ease-in-out 0.2s;
}

#site-map a:hover {
    color: #6e1e6e;
    font-size: 1.25rem;
    /* background-image: linear-gradient(to right, #ff00ff, #43439c); */
    background-image: var(--gradient-default-hover);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#newsletter-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#newsletter-sinup {
    gap: 0;
    min-width: 100%;
}

#newsletter-sinup input {
    outline: 0;
    height: 34px;
    border: 0;
    font-size: 0.93rem;
}

#newsletter-sinup #email {
    margin-top: 30px;
    width: calc(100% - 100px);
    background-color: transparent;
    color: var(--font-color-footer);
    font-size: 1rem;
}

#email:-webkit-autofill {
    -webkit-text-fill-color: var(--font-color-footer) !important;
    -webkit-box-shadow: 0 0 0 40px var(--bg-footer) inset !important;
    background-color: transparent !important;
}

#newsletter-sinup #btn-send {
    width: 100px;
    align-self: flex-end;
    margin-bottom: -4px;
    border-radius: 3px;
    z-index: 0;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid;
    /* border-image: linear-gradient(to right, #ff00ff, 
    #43439c, #00ffff) 2; */
    border-image: var(--gradient-default) 2;
    background-image: var(--gradient-default);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#newsletter-sinup #btn-send:hover {
    /* border-image: linear-gradient(to right, #ff00ff, 
    #43439c, #00ffff) 2; */
    /* background-image: linear-gradient(to right, #ff00ff, 
    #43439c, #00ffff);  */
    border-image: var(--gradient-default-hover) 2;
    background-image: var(--gradient-default-hover);
}

#underline-input {
    width: calc(100% - 103px);
    height: 3px;
    /* background: linear-gradient(to right, #ff00ff, 
    #43439c, #00ffff);
    background: -webkit-linear-gradient(to right, #ff00ff, 
    #43439c, #00ffff); */
    background: var(--gradient-default);
}

#copy-area {
    border-top: 1px solid var(--border-footer);
    padding-block: 15px;
    color: var(--font-color-footer2);
    font-size: 0.87rem;
}

#copy-area span {
    font-size: 1rem;
}