#banner {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 15px solid var(--target-color);
    border-bottom: 15px solid var(--target-color);
    padding: 0;
    overflow-x: hidden;
}

#banner img {
    max-height: 270px;
    transform: skew(-15deg);
}

#banner #img1 {
    border-left: 15px solid var(--target-color);
}

#banner #img2 {
    border-left: 15px solid var(--target-color);
    border-right: 15px solid var(--target-color);
}

#banner #img3 {
    border-right: 15px solid var(--target-color);
}