section {
    margin-inline: auto;
    margin-top: 25px;
}

#about-us .principal-title {
    font-size: 4.37rem;
    margin-bottom: 20px;
    color: var(--bg-color-dark);
    line-height: normal;
}

.article-container, #location {
    margin-inline: 30px;
}

.article-body {
    color: var(--font-color-dark);
}